body{
    background-image: linear-gradient(to bottom, white, rgba(255,255,255,0.4)),url(background.png);
    background-repeat: no-repeat;
}

.container{
    width: 65%;
    margin: 0px auto;
}

header{
    background-color: black;
    height: 180px;
    border-radius: 50px;
}

#logo{
    text-align: center;
    color: white;
    padding: 40px 0px;
    font-family: Shrikhand;
    text-shadow: 5px -3px 5px red;
    border-bottom: 1px solid white;
}

nav ul li{
    float: left;
    padding: 0px 14.5px;
    list-style: none;
    color: white;
    font-size: 12px;
    letter-spacing: 5px;
}

li a{
    text-decoration: none;
    color: white;
}

aside{
    background-color: black;
    width: 32%;
    float: right;
    margin-top: 18px;
    
}

#header-nav-aside{
    background-color: red;
    padding: 8px;
    color: white;
}

#header-nav-aside a{
    color: white;
    text-decoration: none;
    padding: 6px;
    letter-spacing: 8px;
}

#content-nav-aside h4{
    background-color: grey;
    margin: 12px 0px;
    padding: 10px 10px;
   
}

#content-nav-aside a{
    color: white;
    text-decoration: none;
}

#iklan{
    clear: both;
    background-color: red;
    float: right;
    width: 32%;
    margin-top: 18px;
    margin-left: 18px;
    text-align: center;
    padding: 60px 0px;
    color: white;
    font-size: 12px;
    border: 2px solid black;
}

.content{
    width: 64%;
    margin-left: 12px;
    
}

#teks-artikel{
    margin-left:14px;
    color: grey;
    margin-top: 0px;
}

#pembuka{
    font-weight: bold;
    font-style: italic;
}

.content p{
    text-align: justify;
    margin-left: 14px;
}

#artikel{
    border-bottom: 2px dashed grey;
}

#artikel h2{
    margin-bottom: 0px;
}

#comment{
    width: 85%;
    margin: auto;
}

.comments{
    margin-left: 30px;
}

#jumlah-komen{
    text-align: center;
    font-size: 32px;
    font-weight: bold;
}

.header-comment{
    border-top: 3px solid grey;
    border-bottom: 3px solid grey;
    height: 50px;
    margin-top: 40px;
}

.header-comment h3{ 
    float: left;
}

.header-comment p{ 
    float: right;
}

#isi-komen a{
    margin-left: 14px;
    color: white;
    text-shadow: 2px 2px 10px black, 2px -2px 10px black, -2px -2px 10px black, -2px 2px 10px black;
}

blockquote{
    margin: auto;
    background-color: grey;
    border-radius: 10px;
    padding: 20px;
    width: 260px;
    color: white;
    text-align: justify;
    font-style: oblique;
    border: 1px solid black;
}

footer{
    margin-top: 60px;
    color: grey;
    clear: both;
    text-align: center;
}